<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<string>$(GOOGLE_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>3.34.190.29</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>PKPushUsageDescription</key>
	<string>통화 알림을 받기 위해 푸시 알림을 사용합니다.</string>

	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
		<string>processing</string>
	</array>

	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.seonhokim.swift-hau.refresh</string>
		<string>com.seonhokim.swift-hau.cleanup</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
